<h3>Escolha os lugares que prefere</h3>


  <%= form_for @preference do |f| %>

    <div class="form-group">

      <ul id="sortable">
        <% @categories.each do |category| %>
          <li class="ui-state-default"><%= category.name %></li>
        <% end %>
      </ul>
    </div>

    <%= f.submit "Enviar" %>
  <% end %>


